APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

DB_SECOND_HOST=127.0.0.1
DB_SECOND_PORT=3306
DB_SECOND_DATABASE=laravel_second
DB_SECOND_USERNAME=root
DB_SECOND_PASSWORD=

EXPERT_DB_HOST=127.0.0.1
EXPERT_DB_PORT=3306
EXPERT_DB_DATABASE=expert2
EXPERT_DB_USERNAME=root
EXPERT_DB_PASSWORD=

LRD_DB_HOST=127.0.0.1
LRD_DB_PORT=3306
LRD_DB_DATABASE=lrdsystem2
LRD_DB_USERNAME=root
LRD_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SANCTUM_EXPIRATION=43200
CORS_ALLOWED_ORIGINS=*

SSO_MOCK=false
SSO_MOCK_ROUTES=false
SSO_FAST_MOCK=false
SSO_LOCAL_DATABASE=false
SSO_DRIVER=expert_profile
SSO_BASE_URL=http://nginx/api/mock-sso
SSO_EXPERT_API_BASE_URL=https://expert.uru.ac.th/api
SSO_EXPERT_API_TOKEN=
SSO_MOCK_EMAIL=phanuwat@live.uru.ac.th
SSO_MOCK_PASSWORD=password
SSO_MOCK_USER2_EMAIL=somsak@gmail.com
SSO_MOCK_USER2_PASSWORD=password


MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
